Source: ros-hydro-ethercat-hardware
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 9.0.0), liblog4cxx10-dev, ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-eml, ros-hydro-message-generation, ros-hydro-pluginlib, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-msgs, ros-hydro-realtime-tools, ros-hydro-roscpp
Homepage: http://ros.org/wiki/ethercat_hardware
Standards-Version: 3.9.2

Package: ros-hydro-ethercat-hardware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblog4cxx10-dev, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-eml, ros-hydro-message-runtime, ros-hydro-pluginlib, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-msgs, ros-hydro-realtime-tools, ros-hydro-roscpp
Description: Package for creating a hardware interface to the robot using the EtherCAT motor controller/driver
