Source: ros-hydro-pr2-ethercat-drivers
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/pr2_ethercat_drivers
Standards-Version: 3.9.2

Package: ros-hydro-pr2-ethercat-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-ethercat-hardware, ros-hydro-fingertip-pressure
Description: This stack contains drivers for the ethercat system and the peripherals that connect to it: motor control boards, fingertip sensors, texture projector, hand accelerometer.
